<div class="panel panel-default">
  <div class="panel-body">
    <div class="row; center">

      <div class="col-md-3" align="center">
        <img class="patient-pic" src="https://dev.ehrscape.com/demo/img/female.png"
             alt="nemat slika">
      </div>

      <div class="col-md-6">
        <h4>{{patientService.userModel.firstNames}}{{patientService.userModel.lastNames}}</h4>
        <p>Age: <span>{{patientService.userModel.fullAge | slice:0:18}}</span></p>
        <p>Gender: <span>{{patientService.userModel.gender | lowercase}}</span></p>
        <p>DOB: <span>{{patientService.userModel.dateOfBirth | date:'MMM.dd,yyyy'}}</span></p>
        <p>Address: <span>-</span></p>

      </div>

      <div class="col-md-3">
        <div class="ver-spacer left">
          <div class="mask"></div>
        </div>
        <div class="border">
          <p>Healthcare team:</p>
          <img class="doc-pic">
        </div>

      </div>
    </div>
  </div>
</div>



