h4{
  color: #37BC9B
}
p{
  color: #999;
}
span{
  font-weight: bold;
  color: #434a54
}

.img{
  class:'img-circle';
  style:"border: 3px solid #ececec"
}
img:hover{
  class:"img-circle";
  style:"border: 3px solid #ececec"
}
