<!--<div [ngSwitch]="item.rmType">-->
<!--<ul>-->
<!--<div *ngSwitchCase="'DV_DATE_TIME'">{{item.label}}: {{item.displayValue | date: 'dd-MM-yyyy HH:mm'}}</div>-->
<!--</ul>-->
<!--<div *ngSwitchDefault>-->
<!--<div [ngSwitch]="item.displayValue">-->
<!--<div *ngSwitchCase="">{{item.label}}</div>-->
<!--<ul>-->
<!--<div *ngSwitchDefault>{{item.label}}: {{item.displayValue}}</div>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--{{item.rmType}}-->


<div [ngSwitch]="item.displayValue">
  <div *ngSwitchCase="">{{item.label}}</div>
  <div *ngSwitchDefault>
    <div [ngSwitch]="item.rmType">
      <ul>
        <div *ngSwitchCase="'DV_DATE_TIME'">{{item.label}}: {{item.displayValue | date: 'dd-MM-yyyy HH:mm'}}</div>
        <div *ngSwitchDefault>{{item.label}}: {{item.displayValue}}</div>
      </ul>
    </div>
  </div>
</div>
