<div [ngSwitch]="item.displayValue">
  <div *ngSwitchCase="" class="form-header">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
    {{item.label}}
  </div>
  <div *ngSwitchDefault>
    <div [ngSwitch]="item.rmType">
      <ul>
        <div *ngSwitchCase="'DV_DATE_TIME'">
          <span>{{item.label}}:</span>  {{item.displayValue | date: 'dd-MM-yyyy HH:mm'}}
        </div>
        <div *ngSwitchDefault>
          <span>{{item.label}}:</span> {{item.displayValue}}
        </div>
      </ul>
    </div>
  </div>
</div>

