<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-8 bordered-right">

      <div class="row" align="center">
        <div class="col-md-4 bordered-right centered">
          <p>Age</p>
          <span class="patient-info">{{patientService.userModel.age | number:'.0-0'}}</span>
        </div>
        <div class="col-md-4 bordered-right centered">
          <p>Weight</p>
          <div *ngFor="let item of patientService.weight, let i = index ">
            <div *ngIf="i < 1">
              <span class="patient-info">{{item.weight}}{{item.unit}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>BMI</p>
          <div *ngFor="let item of patientService.bmi, let i = index ">
            <span class="patient-info" *ngIf="i == 2" >
              {{item.value.magnitude | number:'.0-2'}}
              {{item.value.units}}
            </span>
            <span class="bmi-details">{{item.value.value}}</span>
          </div>
        </div>
      </div>

      <div class="row bordered" align="center">
        <div class="col-md-4">
          <div *ngFor="let item of patientService.bloodPressure, let i = index " class="margins">
            <p *ngIf="i < 1">
              Blood Pressure: <span>{{item.systolic + "/"}}{{item.diastolic}}{{item.unit}}</span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div *ngFor="let item of patientService.bloodPressure, let i = index ">
            <div class="progress" *ngIf="i < 1">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;"
                   [style.width.%]="item.diastolic">
              </div>
            </div>
          </div>
          <p>(Systolic)</p>
        </div>
        <div class="col-md-4" style="content: '';">
          <div *ngFor="let item of patientService.bloodPressure, let i = index">
            <div class="progress" *ngIf="i < 1">
              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;"
                   [style.width.%]="item.systolic">
              </div>
            </div>
          </div>
          <p>(Diastolic)</p>
        </div>
      </div>

      <div class="row bordered" align="center">
        <div class="col-md-4">
          <div *ngFor="let item of patientService.spO2, let i = index " class="margins">
            <p *ngIf="i < 1">
              Oxygen Saturation: <span>{{item.spO2 | number:'.2'}}%</span>
            </p>
          </div>
        </div>
        <div class="col-md-8">
          <div *ngFor="let item of patientService.spO2, let i = index ">
            <div class="progress" *ngIf="i < 1">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                   style="min-width: 2em;" [style.width.%]="item.spO2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="slika">
        <img src="https://dev.ehrscape.com/demo/img/body-blank-female.png" alt="HTML5 Icon" align="center">

        <div *ngFor="let item of patientService.height, let i = index " align="center">
          <p *ngIf="i < 1" class="center">
            Height:<br><span>{{item.height}}{{item.unit}}</span>
          </p>
        </div>
      </div>

    </div>
  </div>

</div>
