body {
  font-size: 18px;
  line-height: 1.72222;
}

.progress{
  height: 1em;
}

p{
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  color: #999;

}
span{
  font-weight: bold;
  font-size: 16px;
  color: #434a54;
}
.patient-info{
  font-size: 24px;
}

.bmi-details {
  display: block;
  font-size: 10px;
  color: #DA4453;
}

.slika {
  position: relative;
  left: 40px;
}

.center {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.bordered-right {
  border-right: 1px solid #eee;
}

.bordered {
  border-top: 1px solid #eee;
  padding: 15px;
}

.margins{
  margin-left: -25px;
  margin-right: -25px;
}
