.chart {
  display: block;
}
.grafikon {
}
.center{
  text-align: center;
}
.blodpresure{
  color: #DA4453;
}
.bodytemperature{
  color: #F6BB42;
}
.height{
  color: #37BC9B;
}
.pulse{
  color: #8CC152;
}
.weight{
  color: #3BAFDA;
}
.scroll {
  height: 370px;
  overflow: auto;
  padding: 15px
}
.list-group-item{
  background-color: #dcdfe3;
}
