<div class="panel panel-primary" #TimeLine>
  <div class="panel-heading">
    <span class="glyphicon glyphicon-remove" (click)="hideContent(TimeLine)"></span>
    <h4 class="panel-title">Timeline</h4>
  </div>
  <div class="panel-body; scroll">
    <div *ngFor="let item of patientService.presentation, let i = index ">

      <div [ngSwitch]="item.metadata.templateId">

        <div *ngSwitchCase="'Allergies'"></div>

        <div *ngSwitchDefault>
          <div class="col-md-3" style="text-align: right">
            <span class="timelineDate" >{{item.metadata.startTime | date: "dd-MM-yyyy HH:mm"}}</span>
            <span class="timelineMM">{{item.metadata.startTime | date: "dd-MMM"}}</span>

          </div>

          <div [ngSwitch]="item.metadata.templateId" class="col-md-1" >
              <!--<div *ngSwitchCase="'Medical Diagnosis'" class="timeline-icon fa-stethoscope"></div>-->
              <div *ngSwitchCase="'Medications'" class="timeline-icon fa-medkit"></div>
              <div *ngSwitchCase="'Vital Signs'" class="timeline-icon fa-plus-square"></div>
              <div *ngSwitchDefault class="timeline-icon fa-stethoscope"></div>
          </div>

          <div class="col-md-8">
            <div class="list-group">

              <details>
                <summary>
                  <div>{{item.metadata.templateId}}{{' | ' + item.metadata.composer.name}}</div>
                </summary>
                <app-patient-composition-item [items]="item.composition.children"></app-patient-composition-item>

              </details>
            </div>
            <ul class="timeline"></ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!--TableLaboratoryResults-->
<div class="panel panel-info" #LaboratoryResults>
  <div class="panel-heading">
    <span class="glyphicon glyphicon-remove" (click)="hideContent(LaboratoryResults)"></span>
    <h3 class="panel-title">Laboratory Results</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr style="background-color: transparent">
        <th>Name</th>
        <th>LOINC</th>
        <th>Normal Range</th>
        <th>Value</th>
        <th>Unit</th>
        <th>Time</th>
      </tr>
      <tr></tr>
      <tr *ngFor="let item of patientService.labs, let i = index">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.loinc}}
        </td>
        <td>
          {{item.normal_min}} {{item.normal_max}}
        </td>
        <td>
          {{item.value}}
        </td>
        <td>
          {{item.unit}}
        </td>
        <td>
          {{item.time | date: "dd-MMM-yyyy' at 'HH:mm"}}
        </td>
      </tr>
    </table>
  </div>
</div>

<!--BlodPresure-->
<div class="col-md-6" #BlodPresure>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-remove" (click)="hideContent(BlodPresure)"></span>
      <h3 class="panel-title">Blod Presure</h3>
    </div>
    <div class="panel-body">
      <canvas baseChart *ngIf="patientService.bloodPressureData.length > 0"
              [datasets]="patientService.bloodPressureData"
              [labels]="patientService.bloodPressureTime"
              [options]="bloodPressureOptions"
              [colors]="bloodPressureColors"
              [chartType]="'line'">
      </canvas>
    </div>
    <div class="panel-footer">
      <div *ngFor="let item of patientService.bloodPressure, let i = index ">
        <p *ngIf="i < 1">
          As of: <span>{{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}</span><br>
        </p>
        <div *ngIf="i < 1" class="blodpresure">
          {{item.systolic + "/"}}{{item.diastolic}}{{item.unit}}
        </div>
      </div>
    </div>
  </div>
</div>

<!--BodyTemperature-->
<div class="col-md-6" #BodyTemperature>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-remove" (click)="hideContent(BodyTemperature)"></span>
      <h3 class="panel-title">Body Temperature</h3>
    </div>
    <div class="panel-body">
      <canvas baseChart *ngIf="patientService.bodyTemperatureData.length > 0"
              [datasets]="patientService.bodyTemperatureData"
              [labels]="patientService.bodyTemperatureTime"
              [options]="bodyTemperatureOptions"
              [colors]="bodyTemperatureColors"
              [chartType]="'bar'">
      </canvas>
    </div>
    <div class="panel-footer">
      <div *ngFor="let item of patientService.bodyTemperature, let i = index ">
        <p *ngIf="i < 1">
          As of: <span>{{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}</span><br>
        </p>
        <div *ngIf="i < 1" class="bodytemperature">
          {{item.temperature}} {{item.unit}}
        </div>
      </div>
    </div>
  </div>
</div>


<!--Height-->
<div class="col-md-6" #Height>
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-remove" (click)="hideContent(Height)"></span>
      <h3 class="panel-title">Height</h3>
    </div>
    <div class="panel-body">
      <canvas baseChart *ngIf="patientService.heightData.length > 0"
              [datasets]="patientService.heightData"
              [labels]="patientService.heightTime"
              [options]="heightOptions"
              [colors]="heightColors"
              [chartType]="'bar'">
      </canvas>
    </div>
    <div class="panel-footer">
      <div *ngFor="let item of patientService.height, let i = index ">
        <p *ngIf="i < 1">
          As of: <span>{{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}</span><br>
        </p>
        <div *ngIf="i < 1" class="height">
          {{item.height}} {{item.unit}}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Pulse-->
<div class="col-md-6" #Pulse>
  <div class="panel panel-success">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-remove" (click)="hideContent(Pulse)"></span>
      <h3 class="panel-title">Pulse</h3>
    </div>
    <div class="panel-body">
      <canvas baseChart *ngIf="patientService.pulseData.length > 0"
              [datasets]="patientService.pulseData"
              [labels]="patientService.pulseTime"
              [options]="pulseOptions"
              [colors]="pulseColors"
              [chartType]="'line'">
      </canvas>
    </div>
    <div class="panel-footer">
      <div *ngFor="let item of patientService.pulse, let i = index ">
        <p *ngIf="i < 1">
          As of: <span>{{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}</span><br>
        </p>
        <div *ngIf="i < 1" class="pulse">
          {{item.pulse}} {{item.unit}}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Weight-->
<div class="col-md-6" #Weight>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-remove" (click)="hideContent(Weight)"></span>
      <h3 class="panel-title">Weight</h3>
    </div>
    <div class="panel-body">
      <canvas baseChart *ngIf="patientService.weightData.length > 0"
              [datasets]="patientService.weightData"
              [labels]="patientService.weightTime"
              [options]="weightOptions"
              [colors]="weightColors"
              [chartType]="'line'">
      </canvas>
    </div>
    <div class="panel-footer">
      <div *ngFor="let item of patientService.weight, let i = index " class="center">
        <p *ngIf="i < 1">
          As of: <span>{{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}</span><br>
        </p>
        <div *ngIf="i < 1" class="weight">
          {{item.weight}} {{item.unit}}
        </div>
      </div>
    </div>
  </div>
</div>
