<h2>
  patient-timeline works!
</h2>
<p>Timeline</p>
<div *ngFor="let item of patientService.presentation, let i = index ">
  <li>
    {{item.metadata.startTime | date: "dd-MM-yyyy HH:mm"}}
    <div>
      <h4>
        {{item.metadata.startTime | date: "MM-yyyy"}} {{item.metadata.templateId}}{{' | ' +
        item.metadata.composer.name}}
      </h4>
    </div>
  </li>
</div>

<p>Laboratory Results</p>
<div *ngFor="let item of patientService.labs, let i = index ">
  <li>
    {{item.name}} {{item.loinc}} {{item.normal_min}} {{item.normal_max}} {{item.value}} {{item.unit}} {{item.time |
    date: "dd-MMM-yyyy' at 'HH:mm"}}
  </li>
</div>


<!--BlodPresure-->
<div class="container">
  <canvas baseChart *ngIf="patientService.bloodPressureData.length > 0"
          [datasets]="patientService.bloodPressureData"
          [labels]="patientService.bloodPressureTime"
          [options]="bloodPressureOptions"
          [colors]="bloodPressureColors"
          [chartType]="'line'">
  </canvas>
  <div *ngFor="let item of patientService.bloodPressure, let i = index " class="center">
    <p *ngIf="i < 1">
      As of: {{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}<br>
    </p>
    <h3 *ngIf="i < 1" class="blodpresure">
      {{item.systolic + "/"}}{{item.diastolic}}{{item.unit}}
    </h3>
  </div>
</div>
<!--BodyTemperature-->
<div class="container">
  <canvas baseChart *ngIf="patientService.bodyTemperatureData.length > 0"
          [datasets]="patientService.bodyTemperatureData"
          [labels]="patientService.bodyTemperatureTime"
          [options]="bodyTemperatureOptions"
          [colors]="bodyTemperatureColors"
          [chartType]="'bar'">
  </canvas>
  <div *ngFor="let item of patientService.bodyTemperature, let i = index " class="center">
    <p *ngIf="i < 1">
      As of: {{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}<br>
    </p>
    <h3 *ngIf="i < 1" class="bodytemperature">
      {{item.temperature}}{{item.unit}}
    </h3>
  </div>
</div>
<!--Height-->
<div class="container">
  <canvas baseChart *ngIf="patientService.heightData.length > 0"
          [datasets]="patientService.heightData"
          [labels]="patientService.heightTime"
          [options]="heightOptions"
          [colors]="heightColors"
          [chartType]="'bar'">
  </canvas>
  <div *ngFor="let item of patientService.height, let i = index " class="center">
    <p *ngIf="i < 1">
      As of: {{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}<br>
    </p>
    <h3 *ngIf="i < 1" class="height">
      {{item.height}}{{item.unit}}
    </h3>
  </div>
</div>
<!--Pulse-->
<div class="container">
  <canvas baseChart *ngIf="patientService.pulseData.length > 0"
          [datasets]="patientService.pulseData"
          [labels]="patientService.pulseTime"
          [options]="pulseOptions"
          [colors]="pulseColors"
          [chartType]="'line'">
  </canvas>
  <div *ngFor="let item of patientService.pulse, let i = index " class="center">
    <p *ngIf="i < 1">
      As of: {{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}<br>
    </p>
    <h3 *ngIf="i < 1" class="pulse">
      {{item.pulse}}{{item.unit}}
    </h3>
  </div>
</div>
<!--Weight-->
<div class="container">
  <canvas baseChart *ngIf="patientService.weightData.length > 0"
          [datasets]="patientService.weightData"
          [labels]="patientService.weightTime"
          [options]="weightOptions"
          [colors]="weightColors"
          [chartType]="'line'">
  </canvas>
  <div *ngFor="let item of patientService.weight, let i = index " class="center">
    <p *ngIf="i < 1">
      As of: {{item.time | date:"dd-MMM-yyyy' at 'HH:mm"}}<br>
    </p>
    <h3 *ngIf="i < 1" class="weight">
      {{item.weight}}{{item.unit}}
    </h3>
  </div>

</div>
