.chart {
  display: block;
}
.center{
  text-align: center;
}
.blodpresure{
  color: #DA4453;
}
.bodytemperature{
  color: #F6BB42;
}
.height{
  color: #37BC9B;
}
.pulse{
  color: #8CC152;
}
.weight{
  color: #3BAFDA;
}
.scroll {
  height: 370px;
  overflow: auto;
  padding: 15px
}
.list-group-item{
  background-color: #dcdfe3;
}
.timeline-icon {
  width: 40px;
  height: 40px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  color: #fff;
  background: #3498DB;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #dcdfe3;
  text-align: center;

}

.timeline:before {
  content: '';
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 10px;
  background: #dcdfe3;
  left: -6%;
}

.timeline > li .timeline-date {
  display: block;
  width: 30%;
  padding-right: 100px;
  position: absolute;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.test {
  padding: 0 18px;
  background-color: white;
  display: none;
}


summary {cursor: pointer; padding: 15px 0; width: 100%; background-color: #dcdfe3; border-radius: 2px}
summary:hover, details[open] summary {background: #3498DB; color: #fff;}
summary::-webkit-details-marker {display: none;} /*ova e za da nema strelka*/
details[open] {box-shadow: 0 1px 1px rgba(0, 0, 0, .4)}
