<h2>
  patient-timeline works!
</h2>
<p>Timeline</p>
<div *ngFor="let item of patientService.presentation, let i = index ">
  <li>
    {{item.metadata.startTime | date: "dd-MM-yyyy HH:mm"}}
    <div>
      <h4>
        {{item.metadata.startTime | date: "MM-yyyy"}} {{item.metadata.templateId}}{{' | ' +
        item.metadata.composer.name}}
      </h4>
    </div>
  </li>
</div>

<p>Laboratory Results</p>
<div *ngFor="let item of patientService.labs, let i = index ">
  <li>
    {{item.name}} {{item.loinc}} {{item.normal_min}} {{item.normal_max}} {{item.value}} {{item.unit}} {{item.time |
    date: "dd-MMM-yyyy'at'HH:mm"}}
  </li>
</div>



<div class="col-md-6">
  <canvas baseChart *ngIf="patientService.barChartLabels.length > 0"
          [data]="patientService.barChartData"
          [labels]="patientService.barChartLabels"
          [options]="barChartOptions"
          [chartType]="'bar'">
  </canvas>
</div>

<div class="col-md-6">
  <canvas baseChart *ngIf="patientService.bloodPressureData.length > 0"
          [datasets]="patientService.bloodPressureData"
          [labels]="patientService.bloodPressureTime"
          [options]="barChartOptions"
          [chartType]="'line'">
  </canvas>
</div>
