.timelineDate{
  font-size: 0.8em;
  color: #BDC3C7;
  display: block;
}
.timelineMM{
  font-size: 1.2em;
  color: #2980B9;
  font-weight: 300;

}

/*ikona za isklucuvajne X*/
.glyphicon{
  cursor: pointer;
  float:right;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/*grafikoni*/
.panel{
  border: none;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.panel-title{
  font-size: 22px;
  font-weight: 300;
}


.panel-heading {
  padding: 15px 15px;
  border-bottom: 1px solid transparent;
}
.panel-danger > .panel-heading {
  color: white;
  background-color: #da4453;
  border-color: #da4453;
}
.panel-success > .panel-heading {
  color: white;
  background-color: #8cc152;
  border-color: #8cc152;
}
.panel-primary > .panel-heading {
  color: white;
  background-color: #3bafda;
  border-color: #3bafda;
}
.panel-info > .panel-heading {
  color: white;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.panel-warning > .panel-heading {
  color: white;
  background-color: #f6bb42;
  border-color: #f6bb42;
}
/*podatocite pod grafikonot*/
.panel-footer {
  color: white;
  text-align: center;
  background-color: white;
}

.chart {
  display: block;
}

p{
  color: #999;
  font-size: 13px;
}
span{
  color: #434a54;
  font-size: 13px;
}


.blodpresure{
  color: #DA4453;
  font-size: 22px;

}
.bodytemperature{
  color: #F6BB42;
  font-size: 22px;

}
.height{
  color: #37BC9B;
  font-size: 22px;

}
.pulse{
  color: #8CC152;
  font-size: 22px;

}
.weight{
  color: #3BAFDA;
  font-size: 22px;
}
.scroll {
  height: 370px;
  overflow: auto;
  padding: 15px
}
.list-group-item{
  background-color: #dcdfe3;
}
.timeline-icon {
  width: 40px;
  height: 40px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  color: #fff;
  background: #3498DB;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #dcdfe3;
  text-align: center;

}

.timeline:before {
  content: '';
  position: absolute;
  top: 45px;
  bottom: 0;
  width: 10px;
  background: #dcdfe3;
  left: -6.5%;
}


/*.timeline > li .timeline-date {*/
  /*display: block;*/
  /*width: 30%;*/
  /*padding-right: 100px;*/
  /*position: absolute;*/
/*}*/


/*Timeline otvoranjeto*/
summary {cursor: pointer; padding: 15px 0; width: 100%; background-color: #dcdfe3; border-radius: 2px}
summary:hover, details[open] summary {background: #3498DB; color: #fff;}
summary::-webkit-details-marker {display: none;} /*ova e za da nema strelka*/
details[open] {box-shadow: 0 1px 1px rgba(0, 0, 0, .4)}

/* Applies a grabbing hand on top of the div that's draggable*/
.cursor-draggable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
/*  Apply a "closed-hand" cursor during drag operation. */
.cursor-draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
