<div class="with-dark-background">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="col-md-12">
          <app-patient-info></app-patient-info>
        </div>

        <div class="col-md-12">
          <app-patient-status></app-patient-status>
        </div>

        <div class="col-md-12">
          <app-patient-timeline></app-patient-timeline>
        </div>
      </div>

      <div class="col-md-3">
        <app-patient-history></app-patient-history>
      </div>
    </div>
    <a href="#top" id="smoothscroll" title="Back to top" style="display: inline;"></a>
  </div>
</div>

