li{
  font-size: 13px;
}
h3{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #5d5d5d;
}
.panel-default > .panel-heading {
  color: #434a54;
  background-color: #e6e9ed;
  border-color: #e6e9ed;
}
