<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Allergies</h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let item of patientService.allergy, let i = index ">
      <li>
        {{item.agent}}
      </li>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Medications</h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let item of patientService.medication, let i = index ">
      <li>
        {{item.medicine}}
      </li>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Problems</h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let item of patientService.problem, let i = index ">
      <li>
        {{item.diagnosis}}
      </li>
    </div>
  </div>
</div>


